
@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.pages {
  font-family: 'Rye', cursive;
  font-size: 20pt;
  display: block;
  margin-left: 80px;
  margin-bottom: 50px;
  list-style-type: none;
}